﻿@model NewsItemListModel
@using Stox.Web.Extensions;
@using Stox.Web.Models.News;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);

}
<div class="page news-list-page">
    <div class="page-title">
        <h1>@T("News")</h1>
    </div>
    <div class="page-body">
        @Html.Widget("mobile_newslist_page_before_items")
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div class="item">
                    <a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                        @item.Title</a> <span class="news-date">-
                            @item.CreatedOn.ToString("D")
                        </span>
                    <div class="news-details">
                        @Html.Raw(item.Short)
                    </div>
                    <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">
                        @T("News.MoreInfo")</a>
                    @Html.Widget("mobile_newslist_page_inside_item")
                </div>
            }
        </div>
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("mobile_newslist_page_after_items")
    </div>
</div>
