﻿@using Telerik.Web.Mvc.UI
@{
    var gridPageSize = EngineContext.Current.Resolve<Stox.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = T("Admin.Promotions.Discounts").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.Discounts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<DiscountModel>()
                    .Name("discounts-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                            .Width(200);
                        columns.Bound(x => x.DiscountAmount)
                            .ClientTemplate("<# if (UsePercentage)  { #> " + "<#= DiscountPercentage #> %" + "<# } else { #>" + "<#= DiscountAmount #> <#= PrimaryStoreCurrencyCode #>" + "<# } #>")
                            .Width(100)
                            .Title(T("Admin.Promotions.Discounts.Fields.Discount").Text)
                            .Centered();
                        columns.Bound(x => x.StartDateUtc)
                            //.Format("{0:d}")
                            .Width(100);
                        columns.Bound(x => x.EndDateUtc)
                            //.Format("{0:d}")
                            .Width(100);
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Discount"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>