﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.CashOnDelivery.Models.PaymentInfoModel
@using Stox.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Raw(Model.DescriptionText)
        </td>
    </tr>
</table>
