﻿@model PrivateMessageIndexModel
@using Stox.Web.Models.PrivateMessages;
@{    
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.PrivateMessages").Text);
}
<div class="page private-messages-page">
    <div class="page-title">
        <h1>@T("PrivateMessages.PrivateMessages")</h1>
    </div>
    <div class="page-body">
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "inbox" })" data-icon="arrow-l" @(!Model.SentItemsTabSelected ? @Html.Raw(" class=\"ui-btn-active\"") : null) >@T("PrivateMessages.Inbox")</a></li>
                <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "sent" })" data-icon="arrow-r" @(Model.SentItemsTabSelected ? @Html.Raw(" class=\"ui-btn-active\"") : null) >@T("PrivateMessages.SentItems")</a></li>
            </ul>
        </div>
        @if (Model.SentItemsTabSelected)
        {
            @Html.Action("SentItems", new { page = Model.SentItemsPage, tab = "sent" })
        }
        else
        {
            @Html.Action("Inbox", new { page = Model.InboxPage, tab = "inbox" })
        }
    </div>
</div>
