﻿@model PrivateMessageListModel 
@using Stox.Web.Extensions;
@using Stox.Web.Models.PrivateMessages;
<div class="private-messages-box">
    @if (Model.Messages.Count > 0)
    {
        <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
            @foreach (var pm in Model.Messages)
            {
                <li>
                    <div class="item">
                        <div>
                            @T("PrivateMessages.Inbox.SubjectColumn"): @Html.RouteLink(pm.Subject, "ViewPM", new { privateMessageId = pm.Id }, new { @class = "pm-read" })
                        </div>
                        <div>
                            @T("PrivateMessages.Inbox.ToColumn"): 
                            @if (pm.AllowViewingToProfile)
                           {
                                <a href="@Url.RouteUrl("CustomerProfile", new { id = pm.ToCustomerId })">@(pm.CustomerToName)</a>
                           }
                           else
                           {
                               @pm.CustomerToName
                           }
                        </div>
                        <div>
                            @T("PrivateMessages.Inbox.DateColumn"): @pm.CreatedOn
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="pager">
            @Html.Pager(Model.PagerModel)
        </div>
    }
</div>
