﻿@model PrivateMessageModel
@using Stox.Web.Models.PrivateMessages;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.ViewPM").Text);
}
<div class="page private-message-view-page">
    <div class="page-title">
        <h1>@T("PrivateMessages.View.ViewMessage")</h1>
    </div>
    <div class="page-body">
        <div class="view-message">
            <div>
                @T("PrivateMessages.View.From") @Model.CustomerFromName
            </div>
            <div>
                @T("PrivateMessages.View.To") @Model.CustomerToName
            </div>
            <div class="subject-label">
                @T("PrivateMessages.View.Subject")
            </div>
            <div>
                @Model.Subject
            </div>
            <div class="message-label">
                @T("PrivateMessages.View.Message")
            </div>
            <div>
                @Html.Raw(Model.Message)
            </div>
            <div>
                <div class="options">
                    <a href="@Url.RouteUrl("SendPMReply", new { toCustomerId = Model.FromCustomerId, replyToMessageId = Model.Id })" data-role="button" data-inline="true">@T("PrivateMessages.View.ReplyButton")</a>
                    <a href="@Url.RouteUrl("DeletePM", new { privateMessageId = Model.Id })" data-role="button" data-inline="true">@T("PrivateMessages.View.DeleteButton")</a>
                    <a href="@Url.RouteUrl("PrivateMessages")" data-role="button" data-inline="true">@T("PrivateMessages.View.BackButton")</a>
                </div>
            </div>
        </div>
    </div>
</div>
