﻿@model EditForumPostModel
@using Stox.Core.Domain.Forums;
@using Stox.Web.Extensions;
@using Stox.Web.Models.Boards;
@Html.Action("ForumBreadcrumb", new { forumTopicId = Model.ForumTopicId })
<div class="page forum-edit-page">
    <div class="page-title">
        @if (Model.IsEdit)
        {
            <h1>@T("Forum.EditPost")</h1>
        }
        else
        {
            <h1>@T("Forum.NewPost")</h1>
        }
    </div>
    <div class="page-body">
        @using (Html.BeginForm())
        {
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ForumTopicId)

            <div class="form-fields">
                <div class="inputs">
                    <label>@T("Forum.ForumName"):</label>
                    <strong>@Model.ForumName</strong>
                </div>
                <div class="inputs">
                    <label>@T("Forum.TopicTitle"):</label>
                    @Model.ForumTopicSubject
                </div>
                <div class="inputs">
                    @if (Model.ForumEditor == EditorType.BBCodeEditor)
                    {
                        @Html.BBCodeEditor("Text")
                    }
                    @Html.TextAreaFor(model => model.Text, new { @class = "forum-post-text", TextMode = "MultiLine" })
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
                @if (Model.IsCustomerAllowedToSubscribe)
                {
                    <div class="inputs">
                        <label>@T("Forum.Options"):</label>
                        @Html.EditorFor(model => model.Subscribed)
                        <span>@T("Forum.NotifyWhenSomeonePostsInThisTopic")</span>
                    </div>
                }
            </div>
            <div class="buttons">
                <input type="submit" value="@T("Forum.Submit")" class="button-2 submit-post-button" />
                <input type="button" class="button-2 cancel-post-button" value="@T("Forum.Cancel")" onclick="setLocation('@Url.RouteUrl("TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })')" />
            </div>
        }
    </div>
</div>
