﻿@model ForumPageModel
@using Stox.Core.Domain.Forums;
@using Stox.Web.Extensions;
@using Stox.Web.Models.Boards;
@using Stox.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-page">
    @Html.Partial("_SearchBox")
    <div class="forum-top">
        <div class="forum-info">
            <div class="forum-name">
                @Model.Name</div>
            <div class="forum-description">
                @Model.Description</div>
        </div>
        <div class="actions">
            <a href="@Url.RouteUrl("TopicCreate", new { id = Model.Id })" class="newtopic" data-role="button">@T("Forum.NewTopic")</a>
        </div>
    </div>
    <div class="pager upper">
        @{
            var pager = Html.Pager(new PagerModel()
            {
                PageSize = Model.TopicPageSize,
                TotalRecords = Model.TopicTotalRecords,
                PageIndex = Model.TopicPageIndex,
                ShowTotalSummary = false,
                RouteActionName = "ForumSlugPaged",
                UseRouteLinks = true,
                RouteValues = new RouteValues { id = Model.Id, slug = Model.SeName }
            });
        }
        @pager
    </div>
    <div class="topics">
        @if (Model.ForumTopics.Count > 0)
        {
            <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                @foreach (var topic in Model.ForumTopics)
                {
                    <li>
                        <div class="topic">
                            <a href="@Url.RouteUrl("TopicSlug", new { id = topic.Id, slug = topic.SeName })">
                                @{
                    var topicType = "post";
                    var topicText = String.Empty;
                    switch (topic.ForumTopicType)
                    {
                        case ForumTopicType.Normal:
                            topicType = "post";
                            break;
                        case ForumTopicType.Sticky:
                            topicType = "poststicky";
                            break;
                        case ForumTopicType.Announcement:
                            topicType = "post-annoucement";
                            break;
                        default:
                            topicType = "post";
                            break;
                    }
                                    <div class="@topicType">
                                    </div>
                                }
                                <span class="topic-name">@topic.Subject</span> <span class="replies">@T("Forum.Replies.Count", topic.NumReplies)</span>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="forum-footer">
        <div class="forum-options">
            @if (Model.IsCustomerAllowedToSubscribe)
            {
                <script type="text/javascript">
                    $(function () {
                        $('#watch-forum').click(function () {
                            //show progress
                            $.mobile.showPageLoadingMsg();
                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: '@Url.RouteUrl("ForumWatch", new { id = Model.Id })',
                                dataType: 'json',
                                success: function (data) {
                                    $('#watch-forum').val(data.Text);
                                    $('#watch-forum').button("refresh");
                                },
                                complete: function (data) {
                                    //hide progress
                                    $.mobile.hidePageLoadingMsg();
                                }
                            });
                            return false;
                        });
                    });
                </script>
                <input type="button" id="watch-forum" value="@Model.WatchForumText" />
        }
        </div>
        <div class="pager lower">
            @pager
        </div>
    </div>
</div>
