﻿@model ForumGroupModel
@using Stox.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page">
    @Html.Partial("_SearchBox")
    <div class="forum-group">
        @Html.Partial("_ForumGroup", Model)
    </div>
</div>
