﻿@model LastPostModel
@using Stox.Web.Models.Boards;
@if (Model.Id > 0)
{
    <div class="date">@Model.PostCreatedOnStr</div>
    if (Model.ShowTopic)
    {
        <div class="origin">
            <label>@T("Forum.In"):</label>
            @Html.RouteLink(Model.ForumTopicSubject, "TopicSlug", new { id = Model.ForumTopicId, slug = Model.ForumTopicSeName })
        </div>
    }
    if (Model.CustomerId > 0)
    {
        <div class="author">
            <label>@T("Forum.By"):</label>
            @if (Model.AllowViewingProfiles && !Model.IsCustomerGuest)
            {
                @Html.RouteLink(Model.CustomerName, "CustomerProfile", new { Id = Model.CustomerId })
            }
            else
            {
                @Model.CustomerName
            }
        </div>
    }
}
else
{
    <div class="no-post">
        @T("Forum.NoPosts")
    </div>
}
