﻿@model ContactUsModel
@using Stox.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
    <div class="page-body">
        @Html.Widget("mobile_contactus_top")
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>   
        }
        else
        {
            using (Html.BeginForm())
            {
            <div class="send-email">
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                <div>
                    @Html.LabelFor(model => model.FullName)
                    @Html.TextBoxFor(model => model.FullName, new { @class = "fullname" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
                <div>
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div>
                    @Html.LabelFor(model => model.Enquiry)
                    @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry" })
                    @Html.ValidationMessageFor(model => model.Enquiry)
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                }
                <div class="button">
                    <input type="submit" name="send-email" value="@T("ContactUs.Button")" />
                </div>
            </div>
            }
        }
        @Html.Widget("mobile_contactus_bottom")
    </div>
</div>
