﻿@model FooterModel
@using Stox.Web.Models.Common;
@Html.Widget("mobile_footer_before")
<div data-role="navbar">
    <ul>
        <li><a href="@Url.RouteUrl("ContactUs")" data-role="button">@T("ContactUs")</a></li>
        @if (Model.NewsEnabled)
        {
            <li><a href="@Url.RouteUrl("NewsArchive")" data-role="button">@T("News")</a></li>
        }
        @if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")" data-role="button">@T("Blog")</a></li>
        }
        @if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")" data-role="button">@T("Forum.Forums")</a></li>
        }
    </ul>
</div>
<div data-role="navbar">
    <ul>
        @if (Model.CompareProductsEnabled)
        {
            <li><a href="@Url.RouteUrl("CompareProducts")" data-role="button">@T("Products.Compare.List")</a></li>            
        }
        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })" data-role="button">@T("ShippingReturns")</a></li>
    </ul>
</div>
<div data-role="navbar">
    <ul>
        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })" data-role="button">@T("AboutUs")</a></li>
        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })" data-role="button">@T("PrivacyNotice")</a></li>
        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofUse" })" data-role="button">@T("ConditionsOfUse")</a></li>
    </ul>
</div>
@if (Model.AllowPrivateMessages)
{        
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" data-role="button">@T("PrivateMessages.Inbox")</a></li>
        </ul>
    </div>
}
@Html.Widget("mobile_footer_after")
@Html.Action("ChangeDeviceBlock", "Common")
@Html.Widget("mobile_footer")
