﻿@model HeaderLinksModel
@using Stox.Web.Models.Common;
@Html.Widget("mobile_header_links_before")
<div data-role="navbar" class="header-account-links">
    <ul>
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerMyAccount")" class="account" data-role="button">@Model.CustomerEmailUsername</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout" data-role="button">@T("Account.Logout")</a></li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register" data-role="button">@T("Account.Register")</a></li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login" data-role="button">@T("Account.Login")</a></li>
        }
    </ul>
</div>
<div data-role="navbar" class="header-cart-links">
    <ul>
        @if (Model.ShoppingCartEnabled)
        {
            <li><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart" data-role="button">
                <span class="cart-label">@T("ShoppingCart")</span>
                <span class="cart-qty">@T("ShoppingCart.HeaderQuantity.Mobile", Model.ShoppingCartItems)</span>
            </a></li>
        }
        @if (Model.WishlistEnabled)
        {
            <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist" data-role="button">

                <span class="cart-label">@T("Wishlist")</span>
                <span class="wishlist-qty">@T("Wishlist.HeaderQuantity.Mobile", Model.WishlistItems)</span>
            </a></li>
        }
    </ul>
</div>
@Html.Widget("mobile_header_links_after")
