﻿@model SitemapModel
@using Stox.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Sitemap").Text);
}
<div class="page sitemap-page">
    <div class="page-title">
        <h1>@T("Sitemap")</h1>
    </div>
    <div class="page-body">
        @if (Model.Topics.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Topics")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var item in Model.Topics)
                        { 
                            <li><a href="@Url.RouteUrl("Topic", new { SystemName = item.SystemName.ToLowerInvariant() })">@item.Title</a></li>
                        }
                    </ul>
                </div>

            </div>
        }
        @if (Model.Categories.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Categories")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var category in Model.Categories)
                        { 
                            <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Manufacturers.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Manufacturers")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var manufacturer in Model.Manufacturers)
                        { 
                            <li><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.Products.Count > 0)
        {
            <div class="entity">
                <div class="entity-title">
                    <h2>@T("Sitemap.Products")</h2>
                </div>
                <div class="entity-body">
                    <ul>
                        @foreach (var product in Model.Products)
                        { 
                            <li><a href="@Url.RouteUrl("Product", new { SeName = product.SeName })">@product.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
