﻿@model IList<PollModel>
@using Stox.Web.Models.Polls;
@if (Model.Count > 0)
{
    <div class="todays-poll-box">
        @foreach (var poll in Model)
        { 
            @Html.Partial("_Poll", poll)
        }
    </div>
}
