﻿@model ShoppingCartModel.DiscountBoxModel
@using Stox.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box">
        <div class="title">
            <strong>@T("ShoppingCart.DiscountCouponCode")</strong></div>
        <div class="hint">@T("ShoppingCart.DiscountCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="discountcouponcode" type="text" class="discount-coupon-code" />
            <input type="submit" name="applydiscountcouponcode" value="@T("ShoppingCart.DiscountCouponCode.Button")" />
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="message">
                @Model.Message
            </div>
        }
        @if (!String.IsNullOrEmpty(Model.CurrentCode))
        {
            <div class="current-code">
                @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)
                <input type="submit" name="removediscountcouponcode" value="@T("Common.Remove")" title="@T("Common.Remove")" class="remove-discount-button" />
            </div>
        }
    </div>
}