﻿@model ShoppingCartModel.GiftCardBoxModel
@using Stox.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="giftcard-box">
        <div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>
        <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <input type="submit" name="applygiftcardcouponcode" value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="message">
                @Model.Message
            </div>
        }
    </div>
}