﻿@model ProfileInfoModel
@using Stox.Web.Models.Profile;
<div class="profile-info-box">
    <div class="user-details">
        @if (!String.IsNullOrEmpty(Model.AvatarUrl))
        {
            <div class="avatar">
                <img src="@(Model.AvatarUrl)" class="avatar-img" alt="Avatar" />
            </div>         
        }
        @if (Model.LocationEnabled)
        {            
            <div class="profile-stats">
                @T("Profile.Country"): <span class="profile-stat-value">@Model.Location</span>
            </div>  
        }
        @if (Model.PMEnabled)
        {
            <div class="profile-stats">
                <div class="send-pm-box">
                    <a href="@Url.RouteUrl("SendPM", new { toCustomerId = Model.CustomerProfileId })" class="pm-link-button" data-role="button" data-inline="true">@T("Forum.PrivateMessages.PM")</a>
                </div>
            </div>  
        }
        @Html.Widget("mobile_profile_page_info_userdetails")
    </div>
    <div class="user-stats">
        <div class="title">
            @T("Profile.Statistics")
        </div>
        @if (Model.TotalPostsEnabled)
        {
            <div class="profile-stats">
                @T("Profile.TotalPosts"): <span class="profile-stat-value">@Model.TotalPosts</span>
            </div>         
        }
        @if (Model.JoinDateEnabled)
        {        
            <div class="profile-stats">
                @T("Profile.JoinDate"): <span class="profile-stat-value">@Model.JoinDate</span>
            </div>
        }
        @if (Model.DateOfBirthEnabled)
        {
            <div class="profile-stats">
                @T("Profile.DateOfBirth"): <span class="profile-stat-value">@Model.DateOfBirth</span>
            </div>
        }
        @Html.Widget("mobile_profile_page_info_userstats")
    </div>
</div>
