﻿@model ProfilePostsModel
@using Stox.Web.Extensions;
@using Stox.Web.Models.Profile;
<div class="user-last-posts">
    @if (Model.Posts.Count > 0)
    {
        foreach (var item in Model.Posts)
        {
        <div class="topic">
            <div class="topic-title">
                <label>@T("Profile.Topic"):</label>
                @Html.RouteLink(item.ForumTopicTitle, "TopicSlug", new { id = item.ForumTopicId, slug = item.ForumTopicSlug })
            </div>
            <div class="topic-body">
                <p>@Html.Raw(item.ForumPostText)</p>
            </div>
            <div class="topic-data">
                <label>@T("Profile.PostedOn"):</label>
                <span>@item.Posted</span>
            </div>
        </div>
        }
    }
    else
    {
        @T("Profile.LatestPosts.NoPosts")
    }
    <div class="pager">
        @Html.Pager(Model.PagerModel)
    </div>
</div>
