﻿@{
    Layout = "";
}
@model Nop.Plugin.Widgets.GoogleAnalytics.Models.ConfigurationModel
@using Stox.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle" colspan="2">
                Google Analytics is a free website stats tool from Google. It keeps track of statistics
                about the visitors and ecommerce conversion on your website.
                <br />
                <br />
                Follow the next steps to enable Google Analytics integration:
                <ul>
                    <li><a href="http://www.google.com/analytics/" target="_blank">Create a Google Analytics
                        account</a> and follow the wizard to add your website</li>
                    <li>Copy the Google Analytics ID into the 'ID' box below</li>
                    <li>Copy the tracking code from Google Analytics into the 'Tracking Code' box below</li>
                    <li>Click the 'Save' button below and Google Analytics will be integrated into your
                        store</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.GoogleId_OverrideForStore, model => model.GoogleId, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.GoogleId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GoogleId)
                @Html.ValidationMessageFor(model => model.GoogleId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.TrackingScript_OverrideForStore, model => model.TrackingScript, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.TrackingScript):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.TrackingScript, new { style = "Width: 600px; Height: 200px;" })
                @Html.ValidationMessageFor(model => model.TrackingScript)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.EcommerceScript_OverrideForStore, model => model.EcommerceScript, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.EcommerceScript):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.EcommerceScript, new { style = "Width: 600px; Height: 50px;" })
                @Html.ValidationMessageFor(model => model.EcommerceScript)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.EcommerceDetailScript_OverrideForStore, model => model.EcommerceDetailScript, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.EcommerceDetailScript):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.EcommerceDetailScript, new { style = "Width: 600px; Height: 50px;" })
                @Html.ValidationMessageFor(model => model.EcommerceDetailScript)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>

}