﻿@{
    Layout = "";
}
@using Stox.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")</b>
        </td>
    </tr>
</table>
