﻿@{
    Layout = "";
}
@using Stox.Plugin.Tax.FixedRate.Models;
@using Telerik.Web.Mvc.UI;
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<FixedTaxRateModel>()
                    .Name("Grid")
                    .DataKeys(keys => keys.Add(x => x.TaxCategoryId).RouteKey("TaxCategoryId"))
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.TaxCategoryName).Width(300).ReadOnly();
                        columns.Bound(x => x.Rate).Width(100).Format("{0:G29}");
                        columns.Command(commands =>
                        {
                            commands.Edit().Text(T("Admin.Common.Edit").Text);
                        }).Title(T("Admin.Common.Edit").Text).Width(100);

                    })
                    .Editable(x =>
                    {
                        x.Mode(GridEditMode.InLine);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax()
                            .Select("Configure", "TaxFixedRate", new RouteValueDictionary() { { "Namespaces", "Stox.Plugin.Tax.FixedRate.Controllers" }, { "area", "" } })
                            .Update("TaxRateUpdate", "TaxFixedRate", new RouteValueDictionary() { { "Namespaces", "Stox.Plugin.Tax.FixedRate.Controllers" }, { "area", "" } });
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
