﻿@model CustomerAddressEditModel
@using Stox.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@using (Html.BeginForm())
{
    <div class="page account-page address-edit-page">
        <div class="page-title">
            <h1>@T("Account.CustomerAddresses.AddNew")</h1>
        </div>
        <div class="page-body">
            @{
    var dataDictAddress = new ViewDataDictionary();
    //Merge ModelState (required for validation)
    dataDictAddress.ModelState.Merge(ViewData.ModelState);
    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                @Html.Partial("_CreateOrUpdateAddress", Model.Address, dataDictAddress)              
            }
            <div class="buttons">
                <input type="submit" value="@T("Common.Save")" />
            </div>
        </div>
    </div>
}