﻿@model CustomerBackInStockSubscriptionsModel
@using Stox.Web.Extensions;
@using Stox.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
}
<div class="page account-page back-in-stock-subscription-list-page">
    <div class="page-title">
        <h1>@T("Account.BackInStockSubscriptions")</h1>
    </div>
    <div class="page-body">
        @if (Model.Subscriptions.Count > 0)
        {
            <div class="description">
                @T("Account.BackInStockSubscriptions.Description")
            </div>
            <div class="subscription-list">
                <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                    @foreach (var biss in Model.Subscriptions)
                    {
                        <li>
                            <div class="item">
                                <div>
                                    @Html.RouteLink(biss.ProductName, "Product", new { SeName = biss.SeName })
                                </div>
                                <div class="buttons">
                                    <a href="@Url.RouteUrl("DeleteBackInStockSubscription", new { subscriptionId = biss.Id })" data-role="button">@T("Common.Delete")</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                    <div class="pager">
                        @Html.Pager(Model.PagerModel)
                    </div>
            </div>
        }
        else
        {
            <div class="no-data">
                @T("Account.BackInStockSubscriptions.NoSubscriptions")
            </div>
        }
    </div>
</div>
