﻿@model PasswordRecoveryModel
@using Stox.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            <div>
                @T("Account.PasswordRecovery.Tooltip")
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <input type="submit" name="send-email" value="@T("Account.PasswordRecovery.RecoverButton")" />
        }
    </div>
</div>
