﻿@model UserAgreementModel
@using Stox.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#agreement-agree").click(toggleContinueButton);

        toggleContinueButton();
    });

    //    function toggleContinueButton() {
    //        if ($('#agreement-agree').is(':checked')) {
    //            $('#continue-downloading').removeAttr('disabled');
    //        } else {
    //            $('#continue-downloading').attr('disabled', 'disabled');
    //        }
    //        //jQuery Mobile. If you manipulate a select via JavaScript, you must call the refresh method on it to update the visual styling.
    //        $('#continue-downloading').button("refresh");
    //    }
    /*
    Links styled like buttons have all the same visual options as true form-based buttons below, 
    but there are a few important differences. Link-based buttons aren't part of the button plugin 
    and only just use the underlying buttonMarkup plugin to generate the button styles so the form 
    button methods (enable, disable, refresh) aren't supported. 
    If you need to disable a link-based button (or any element), 
    it's possible to apply the disabled class ui-disabled yourself with JavaScript to achieve the same effect.
    */

    function toggleContinueButton() {
        if ($('#agreement-agree').is(':checked')) {
            $('#continue-downloading').removeClass('ui-disabled');
        } else {
            $('#continue-downloading').addClass('ui-disabled');
        }
    }

</script>
<div class="page user-agreement-page">
    <div class="page-title">
        <h1>@T("DownloadableProducts.UserAgreement")</h1>
    </div>
    <div class="page-body">
        @Html.Raw(Model.UserAgreementText)
        <div>
            <input id="agreement-agree" type="checkbox" value="@T("DownloadableProducts.IAgree")" />
            <label for="agreement-agree">@T("DownloadableProducts.IAgree")</label>
        </div>
        <div>
            <a id="continue-downloading" data-ajax="false" data-role="button" href="@Url.RouteUrl("GetDownload", new { orderItemId = Model.OrderItemGuid, agree = true })">@T("Common.Continue")</a>
        </div>
    </div>
</div>
