﻿@{
    Layout = "";
}
@model Models.ConfigurationModel
@using Stox.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ClientKeyIdentifier):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ClientKeyIdentifier)
                @Html.ValidationMessageFor(model => model.ClientKeyIdentifier)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ClientSecret):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ClientSecret)
                @Html.ValidationMessageFor(model => model.ClientSecret)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
}