﻿@model ProductDetailsModel.AddToCartModel
@using Stox.Core.Domain.Orders
@using Stox.Web.Models.Catalog;
<div class="add-to-cart">
    @if (Model.UpdatedShoppingCartItemId > 0)
    {
        @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
    }
    @if (Model.CustomerEntersPrice)
    {
        <div class="customer-entered-price">
            <div>
                @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" })
                @*round price*@
                @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
            </div>
            <div class="price-range">
                @Model.CustomerEnteredPriceRange
            </div>
        </div>
    }
    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        <div>
            @if (Model.AllowedQuantities.Count > 0)
            {
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                        @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" })
                        @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
                    </fieldset>
                </div>
            }
            else
            {
                @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" })
                @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })

                //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                if (!Model.DisableBuyButton)
                {
                     <script type="text/javascript">
                         $(document).ready(function() {
                             $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function(event) {
                                 if (event.keyCode == 13) {
                                     $("#add-to-cart-button-@Model.ProductId").click();
                                     return false;
                                 }
                             });
                         });
                     </script>
                 }
            }
        </div>
            if (!Model.DisableBuyButton)
            {
                var addToCartText = "";
                if (Model.UpdatedShoppingCartItemId > 0)
                {
                    addToCartText = T("ShoppingCart.AddToCart.Update").Text;
                }
                else
                {
                    addToCartText = Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder").Text : T("ShoppingCart.AddToCart").Text;
                }
        <input type="button" id="add-to-cart-button-@Model.ProductId" value="@addToCartText" onclick="AjaxCart.addproducttocart_details_mobile('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form', '@Url.RouteUrl("ShoppingCart")');return false;" />
            }
            if (!Model.DisableWishlistButton && Model.UpdatedShoppingCartItemId == 0)
            {
        <input type="button" id="add-to-wishlist-button-@Model.ProductId" value="@T("ShoppingCart.AddToWishlist")" onclick="AjaxCart.addproducttocart_details_mobile('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form', '@Url.RouteUrl("Wishlist")');return false;" />
            }
    }
    @Html.Widget("mobile_productdetails_add_info")
</div>
