﻿@model ProductDetailsModel.GiftCardModel
@using Stox.Web.Models.Catalog;
@if (Model.IsGiftCard)
{
    <div class="giftcard">
        <div>
            @Html.LabelFor(model => model.RecipientName)
            @Html.TextBoxFor(model => model.RecipientName, new { @class = "recipient-name" })
        </div>
        <div>
            @if (Model.GiftCardType == Stox.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.LabelFor(model => model.RecipientEmail)
                @Html.TextBoxFor(model => model.RecipientEmail, new { @class = "recipient-email" })
            }
        </div>
        <div>
            @Html.LabelFor(model => model.SenderName)
            @Html.TextBoxFor(model => model.SenderName, new { @class = "sender-name" })
        </div>
        <div>
            @if (Model.GiftCardType == Stox.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                @Html.LabelFor(model => model.SenderEmail)
                @Html.TextBoxFor(model => model.SenderEmail, new { @class = "sender-email" })
            }
        </div>
        <div>
            @Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new { @class = "message" })
        </div>
    </div>
}