﻿@model ProductOverviewModel
@using Stox.Web.Models.Catalog;
<a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">
    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
    <div class="product-title">@Model.Name</div>
    @if (!String.IsNullOrEmpty(Model.ShortDescription))
    {
        <div class="description">
            @Html.Raw(Model.ShortDescription)
        </div>
    }
    <div class="prices">
        @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
        {
            <div class="old-product-price">
                <span class="price">@Model.ProductPrice.OldPrice</span>
            </div>
        }
        <div class="product-price">
            <span class="price">@Model.ProductPrice.Price</span>
        </div>
    </div>
</a>