﻿@model ProductDetailsModel
@using Stox.Web.Models.Catalog;
@*SKU*@
@if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
{
    <div class="sku">
        <span class="label">@T("Products.Sku"): </span><span class="value" itemprop="sku">@Model.Sku</span>
    </div>
}
@*Manufacturer part number*@
@if (!String.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) && Model.ShowManufacturerPartNumber)
{
    <div class="manufacturer-part-number">
        <span class="label">@T("Products.ManufacturerPartNumber"): </span><span class="value">@Model.ManufacturerPartNumber</span>
    </div>
}
@*GTIN*@
@if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
{
    <div class="gtin">
        <span class="label">@T("Products.GTIN"): </span><span class="value">@Model.Gtin</span>
    </div>
}
@*Stock availability*@
@if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
{
    <div class="stock">
        <span class="label">@T("Products.Availability"): </span><span class="value">@Model.StockAvailability</span>
    </div>
}
@*Delivery date*@
@if (Model.FreeShippingNitificationEnabled && Model.IsFreeShipping)
{
    <div class="free-shipping">@T("Products.FreeShipping")</div>
}
@*Delivery date*@
@if (!String.IsNullOrWhiteSpace(Model.DeliveryDate))
{
    <div class="delivery-date">
        <span class="label">@T("Products.DeliveryDate"): </span><span class="value">@Model.DeliveryDate</span>
    </div>
}
@*Vendor*@
@if (Model.ShowVendor)
{
    <div class="product-vendor">
        <span class="label">@T("Products.Vendor"): </span><span class="value"><a href="@Url.RouteUrl("Vendor", new { vendorId = Model.VendorModel.Id, SeName = Model.VendorModel.SeName })">@Model.VendorModel.Name</a></span>
    </div>
}

