﻿@model CategoryNavigationModel
@using Stox.Web.Models.Catalog;
@helper RenderCategoryLine(CategorySimpleModel category)
{
    <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
        @category.Name
            @*uncomment to show number of products*@   
            @*@if (category.NumberOfProducts.HasValue)
            {
                <span class="ui-li-count">@T("Categories.TotalProducts", category.NumberOfProducts.Value)</span>
            }*@
    </a></li>
}
@if (Model.Categories.Count > 0)
{
    <div class="block block-category-navigation">
        <div class="title">
            @T("Categories")
        </div>
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var category in Model.Categories)
            {
                @RenderCategoryLine(category)
            }
        </ul>
    </div>
}