﻿@model IList<ProductOverviewModel>
@using Stox.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <div class="title">
            <strong>@T("ShoppingCart.CrossSells")</strong>
        </div>
        @foreach (var product in Model)
        {
            <div class="item-box">
                @Html.Partial("_ProductBox", product)
            </div>
        }
    </div>
}