﻿@model IList<CategoryModel>

@using Stox.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="home-page-category-grid">
        @foreach (var item in Model)
        {
            <div class="item-box">
                <div class="category-item">
                    <h2 class="title">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            @item.Name</a>
                    </h2>
                    <div class="picture">
                        <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl"
                                    title="@item.PictureModel.Title" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
}