﻿@model ManufacturerNavigationModel
@using Stox.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{
    <div class="block block-manufacturer-navigation">
        <div class="title">
            @T("Manufacturers")
        </div>
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <li><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">
                    @manufacturer.Name</a></li>
            }
        </ul>
        @if (Model.TotalManufacturers > Model.Manufacturers.Count)
        {
            <div class="view-all">
                <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
            </div>
        }
    </div>
}