﻿@model IList<ManufacturerModel>
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
}
@using Stox.Web.Models.Catalog;
<div class="page manufacturer-list-page">
    <div class="page-title">
        <h1>@T("Manufacturers.List")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <ul data-role="listview" data-inset="true" data-filter="false">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })">
                        @item.Name</a></li>
                }
            </ul>
        }
    </div>
</div>
