﻿@model ProductEmailAFriendModel
@using Stox.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(Model.ProductName);
    Html.AddTitleParts(T("PageTitle.ProductEmailAFriend").Text);
}
<div class="page email-a-friend-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="product">@Model.ProductName</a>
    </div>
    <div class="page-body">
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            <div class="send-email">
                @using (Html.BeginForm())
                {
                    <div class="message-error">
                        @Html.ValidationSummary(true)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.FriendEmail)
                        @Html.TextBoxFor(model => model.FriendEmail, new { @class = "friend-email" })
                        @Html.ValidationMessageFor(model => model.FriendEmail)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.YourEmailAddress)
                        @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "your-email" })
                        @Html.ValidationMessageFor(model => model.YourEmailAddress)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.PersonalMessage)
                        @Html.TextAreaFor(model => model.PersonalMessage, new { @class = "personal-message" })
                        @Html.ValidationMessageFor(model => model.PersonalMessage)
                    </div>
                    if (Model.DisplayCaptcha)
                    {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                    }
                    <div class="buttons">
                        <input type="submit" name="send-email" value="@T("Products.EmailAFriend.Button")" />
                    </div>
                }
            </div>
        }
    </div>
</div>
