﻿@model ProductsByTagModel
@using Stox.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(string.Format(T("PageTitle.ProductsByTag").Text, Model.TagName));
}
@using Stox.Web.Extensions;
@*product search box*@
@Html.Action("SearchBox", "Catalog")
<div class="page product-tag-page">
    <div class="page-title">
        <h1>@String.Format(T("Products.Tags.ProductsTaggedWith").Text, Model.TagName)</h1>
    </div>
    <div class="page-body">
        @Html.Widget("mobile_productsbytag_top")
        @*product list*@
        @if (Model.Products.Count > 0)
        {
            <div class="product-list">
                <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                    @foreach (var product in Model.Products)
                    {
                        <li>
                            @Html.Partial("_ProductBox", product)
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("mobile_productsbytag_bottom")
    </div>
</div>
