﻿@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}
@using Stox.Web.Models.Catalog;
<div class="page recently-added-products-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("RecentlyAddedProductsRSS")" class="link-rss" title="@T("Products.NewProducts.RSS.Hint")">@T("Products.NewProducts.RSS")</a>
        <h1>@T("Products.NewProducts")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
               @foreach (var product in Model)
               {
                   <div class="item-box">
                       @Html.Partial("_ProductBox", product)
                   </div>
               }
            </div>        
        }
    </div>
</div>
