﻿@model IList<ProductOverviewModel>

@using Stox.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="related-products-grid product-grid">
        <div class="title">
            <strong>@T("Products.RelatedProducts")</strong>
        </div>
        @foreach (var item in Model)
        {
            <div class="item-box">@Html.Partial("_ProductBox", item)</div>
        }
    </div>
}