﻿@model VendorModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AddTitleParts(Model.Name);
}
@using Stox.Web.Models.Catalog;
@using Stox.Web.Extensions;
@*product search box*@
@Html.Action("SearchBox", "Catalog")
<div class="page vendor-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @Html.Widget("mobile_vendordetails_top")
        @*description*@
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="vendor-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @Html.Widget("mobile_vendordetails_before_product_list")
        @*product list*@
        @if (Model.Products.Count > 0)
        {
            <div class="product-list">
                <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                    @foreach (var product in Model.Products)
                    {
                        <li>
                            @Html.Partial("_ProductBox", product)
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("mobile_vendordetails_bottom")
    </div>
</div>
