﻿@model CheckoutCompletedModel
@using Stox.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        <div class="order-completed">
            @Html.Widget("mobile_checkout_completed_top")
            <div class="body">
                <strong>
                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                <p>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </p>
                <p>
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })" data-role="button">@T("Checkout.PlacedOrderDetails")</a>
                </p>
            </div>
            <div class="select-button">
                <a href="@Url.RouteUrl("HomePage")" data-role="button">@T("Checkout.ThankYou.Continue")</a>
            </div>
            @Html.Widget("mobile_checkout_completed_bottom")
        </div>
    </div>
</div>
