﻿@model CheckoutConfirmModel
@using Stox.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrder")</h1>
    </div>
    <div class="page-body checkout-data">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("CheckoutConfirm", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" }, { "id", "confirm-order-form" } }))
        {
            @Html.Widget("mobile_checkout_confirm_top")

            if (Model.Warnings.Count > 0)
            {
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        <li>@Model.Warnings[i]</li>
                    }
                </ul>
            </div>
            }
            <div class="confirm-order">
                <div class="select-button">
                    @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                    {
                        @Model.MinOrderTotalWarning
                    }
                    else
                    {
                        if (Model.TermsOfServiceOnOrderConfirmPage)
                        {
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                            </div>
                        }
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('.confirm-order-next-step-button').click(function () {
                                    //terms of service
                                    var termOfServiceOk = true;
                                    if ($('#termsofservice').length > 0) {
                                        //terms of service element exists
                                        if (!$('#termsofservice').is(':checked')) {
                                            alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Checkout.TermsOfService.PleaseAccept").Text))');
                                            termOfServiceOk = false;
                                        } else {
                                            termOfServiceOk = true;
                                        }
                                    }
                                    if (termOfServiceOk) {
                                        //$('#nextstep').addClass('ui-disabled');
                                        return true;
                                    } else {
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <input type="submit" name="nextstep" class="confirm-order-next-step-button" value="@T("Checkout.ConfirmButton")" />
                    }
                </div>
            </div>  
            @Html.Widget("mobile_checkout_confirm_bottom")
        }
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
        </div>
    </div>
</div>
