﻿@model SubscriptionActivationModel
@using Stox.Web.Models.Newsletter;
@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="page newsletter-page">
    <div class="page-title">
        <h1>@T("Newsletter.Title")</h1>
    </div>
    <div class="page-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>
