﻿@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model ShippingByWeightModel
@using Stox.Plugin.Shipping.ByWeight.Models;
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Common.AddNew")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Partial("Stox.Plugin.Shipping.ByWeight.Views.ShippingByWeight._CreateOrUpdate", Model)
}