﻿<div class="header">
    <div class="header-logo">
        <a href="@Url.RouteUrl("Plugin.Misc.FacebookShop.Index")" class="logo">&nbsp;</a>
    </div>
    <div class="search-box">
        @Html.Partial("Stox.Plugin.Misc.FacebookShop.Views.MiscFacebookShop.SearchBox")
    </div>
    @*
    do not uncomment the code below. if you need this functionality,
    then you have to implement it right in this plugin.
    otherwise, it could cause some issues (for example, render views for mobile devices)
    <div class="header-selectors-wrapper">
        <div class="tax-display-type-selector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="currency-selector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="language-selector">
            @Html.Action("LanguageSelector", "Common")
        </div>
    </div>*@
</div>
