﻿@model List<ProductOverviewModel>
@using Stox.Plugin.Misc.FacebookShop.Models;
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        @foreach (var item in Model)
        {
            <div class="item-box">
                @Html.Partial("Stox.Plugin.Misc.FacebookShop.Views.MiscFacebookShop.ProductBox", item)
            </div>
        }
    </div>
}