﻿@model OrderModel.AddOrderProductModel.GiftCardModel
@if (Model.IsGiftCard)
{
    //Actually just a copy of \Presentation\Nop.Web\Views\Catalog\_GiftCardInfo.cshtml
    <div class="giftCard">
        <dl>
            <dt>@Html.LabelFor(model => model.RecipientName):</dt>
            <dd>
                @Html.TextBoxFor(model => model.RecipientName)
            </dd>
            @if (Model.GiftCardType == Stox.Core.Domain.Catalog.GiftCardType.Virtual)
            {
            <dt>@Html.LabelFor(model => model.RecipientEmail): </dt>
            <dd>
                @Html.TextBoxFor(model => model.RecipientEmail)
            </dd>
            }
            <dt>
                @Html.LabelFor(model => model.SenderName): </dt>
            <dd>
                @Html.TextBoxFor(model => model.SenderName)
            </dd>
            @if (Model.GiftCardType == Stox.Core.Domain.Catalog.GiftCardType.Virtual)
            {
            <dt>@Html.LabelFor(model => model.SenderEmail):</dt>
            <dd>
                @Html.TextBoxFor(model => model.SenderEmail)</dd>
            }
            <dt>
                @Html.LabelFor(model => model.Message): </dt>
            <dd>
                @Html.TextAreaFor(model => model.Message, new { style = "Width: 300px; Height: 100px;" })
            </dd>
        </dl>
    </div>
}