﻿@model ShipmentModel
@using Stox.Core.Domain.Tax;
@using Stox.Core.Domain.Catalog;
@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.OrderId);
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.OrderId) @Html.ActionLink("(" + T("Admin.Orders.Shipments.BackToOrder") + ")", "Edit", new { id = Model.OrderId })
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="t-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>    
    @Html.ValidationSummary(false)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TrackingNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TrackingNumber)
            </td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td class="adminData">
                <strong>@T("Admin.Orders.Shipments.Products")</strong>
            </td>
        </tr>
        <tr>
            <td class="adminData">
                <table class="tablestyle" border="1" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr class="headerstyle">
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.ProductName")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.SKU")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.ItemWeight")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.ItemDimensions")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.QtyOrdered")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.QtyShipped")
                            </th>
                            <th align="center">
                                @T("Admin.Orders.Shipments.Products.QtyToShip")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="width: 50%;">
                                    <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                        <em><a href="@Url.Action("Edit", "Product", new { id = item.ProductId })">@item.ProductName</a></em>
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <br />
                                            @Html.Raw(item.AttributeInfo)
                                        }
                                    </div>
                                </td>
                                <td style="width: 10%;">
                                    <div style="padding-left: 10px; padding-right: 10px; text-align: left;">
                                        @item.Sku
                                    </div>
                                </td>
                                <td align="center" style="width: 10%;">
                                    @item.ItemWeight
                                </td>
                                <td align="center" style="width: 10%;">
                                    @item.ItemDimensions
                                </td>
                                <td align="center" style="width: 10%;">
                                    @item.QuantityOrdered
                                </td>
                                <td align="center" style="width: 10%;">
                                    @item.QuantityInAllShipments
                                </td>
                                <td align="center" style="width: 20%;">
                                     <input name="qtyToAdd@(item.OrderItemId)" type="text" value="@item.QuantityToAdd" id="qtyToAdd@(item.OrderItemId)" class="adminInput" style="width:100px;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
}