﻿@{
    Layout = "";
}
@model Models.UPSShippingModel
@using Stox.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Url):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AccessKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AccessKey)
                @Html.ValidationMessageFor(model => model.AccessKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Username):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Password):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerClassification):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CustomerClassification, Model.AvailableCustomerClassifications)
                @Html.ValidationMessageFor(model => model.CustomerClassification)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PickupType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PickupType, Model.AvailablePickupTypes)
                @Html.ValidationMessageFor(model => model.PickupType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PackagingType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.PackagingType, Model.AvailablePackagingTypes)
                @Html.ValidationMessageFor(model => model.PackagingType)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.InsurePackage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.InsurePackage)
                @Html.ValidationMessageFor(model => model.InsurePackage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalHandlingCharge):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalHandlingCharge)
                @Html.ValidationMessageFor(model => model.AdditionalHandlingCharge)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AvailableCarrierServices):
            </td>
            <td class="adminData">
                <div style="height: 250px; width: 300px; overflow: auto; border: solid 1px #bbb;">
                    @foreach (var csd in Model.AvailableCarrierServices)
                    {
                        <input type="checkbox" name="CheckedCarrierServices" value="@(csd)" checked="@Model.CarrierServicesOffered.Contains(csd)" />
                        <label>@csd</label>
                        <br />
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>    
}