﻿@{
    Layout = "";
}
@model Nop.Plugin.Sms.Verizon.Models.SmsVerizonModel
@using Stox.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Enabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Email):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
        <tr class="adminSeparator">
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <strong>@T("Plugins.Sms.Verizon.SendTest.Hint")</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.TestMessage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TestMessage)
                @Html.ValidationMessageFor(model => model.TestMessage)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="test-sms" class="t-button" value="@T("Plugins.Sms.Verizon.SendTest")" />
            </td>
        </tr>
        @if (!String.IsNullOrEmpty(Model.TestSmsResult))
        {
            <tr>
                <td colspan="2" width="100%" style="color: red">
                    @Model.TestSmsResult
                </td>
            </tr>
        }
    </table>
    
    
}